body {
    background-color: rgb(7, 47, 158);
    color: white;
    background-image: url('../img/weatherBackground.jpg');
    font-family: Arial, Baskerville, Baskerville Old Face, Hoefler Text, Garamond, Times New Roman, serif;
    margin: 0;
    font-size: 30px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    padding: 10;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
}

nav .login {
    float: right;
    padding-top: 1.25%;
    padding-right: 7%;
}

nav .Logo {
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

nav ul {
    list-style: none;
    float: left;
    margin: 5;
    padding: 0;
    display: flex;
}

nav ul li a {
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

nav ul li a:hover {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
}

.description {
    position: absolute;
    width: 20%;
    top: 46%;
    left: 18%;
    font-size: 1.3em;
    color: #fff;
}

.title {
    position: absolute;
    width: 25%;
    height: 20%;
    top: 15%;
    left: 18%;
    font-size: 3em;
}

.cmds {
    text-align: center;
    display: block;
}

.commands {
    margin-left: 37%;
    margin-bottom: 1%;
    width: 25%;
    padding-left: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: rgb(7, 61, 131);
    border-radius: 10px;
}

footer {
    width: 100%;
    height: 140px;
    box-sizing: border-box;
    margin-top: 60%;
    background: rgba(0, 0, 0, 0.5);
}

footer a {
    float: right;
    display: flex;
    line-height: 100px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: rgb(7, 61, 131);
    border-radius: 10px;
    margin-top: 18px;
    margin-right: 15px;
}