body {
    background-color: rgb(7, 47, 158);
    color: white;
    background-image: url('../img/weatherBackground.jpg');
    font-family: Arial, Baskerville, Baskerville Old Face, Hoefler Text, Garamond, Times New Roman, serif;
    margin: 0;
    font-size: 30px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    top: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    padding: 10;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav .login {
    float: right;
    padding: 10px 15px 2px 15px;
    font-size: 20px;
    font-weight: bold;
    background: rgb(252, 252, 252);
    border-radius: 50px;
    margin-top: 1.5%;
    margin-right: 6%;
}

nav .Logo {
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
.logo_size{
    border: 1px solid red;
    width: 20%;
    height: auto;

}

nav ul {
    list-style: none;
    float: left;
    margin: 5;
    padding: 0;
    display: flex;
}

nav ul li a {
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

nav ul li a:hover {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
}

.description {
    position: absolute;
    width: 20%;
    top: 46%;
    left: 18%;
    font-size: 100%;
    color: #fff;
    border: 1px solid red;
    text-align: center;
}

.title {
    position: absolute;
    width: 35%;
    height: 20%;
    top: 15%;
    left: 18%;
    font-size: 2em;
    border: 1px solid red;
}
@media(max-width: 768px){
    nav .Logo {
        padding: 15% 25%; /* padding order: top right*/
        width: 100%;
        
    }
    .title{
        font-size: xx-large;
        width: 60%;
        height: 100px;
        text-align: center;
        top: 40%;
        left: 15%;
    }
    .description {
        position: absolute;
        width: 60%;
        top: 50%;
        left: 15%;
        font-size: large;
        text-align: center;
    }
        nav ul li a {
       display: none;
    }
    footer{
        display:none;
    }
    nav .login{
        display:none;
    }
}/*-------------------Max width of Ipad--------------------------------*/ 
@media(max-width: 1050px){
    nav .Logo {
       display:block;
    }
    .title{        
        height: 30%;
        font-size: 190%;
        text-align: left;
        border: 1px solid red;
    }
    .description {
       padding-top: 20px;
        font-size: 100%;
        border: 1px solid red;
        text-align: left;
    }
        nav ul li a {
       display: none;
    }
    footer{
        display:none;
    }
    nav .login{
        display:none;
    }
}
/*-------------------Max width of 1000px--------------------------------*/ 

.cmdsTitle {
    text-align: center;
    display: block;
}

.commands {
    background: rgb(7, 61, 131);
    border-radius: 10px;
    padding: 1%;
    margin: 1% 27% 1% 27%;
}

footer {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    margin-top: 60%;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer .add {
    float: right;
    color: #fff;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background: rgb(7, 61, 131);
    border-radius: 15px;
    margin-top: 3%;
    margin-right: 3%;
}

footer ul {
    list-style: none;
    float: left;
    margin-left: 1.5%;
    margin-top: -0.5%;
    display: flex;
}

footer .text {
    font-size: smaller;
    margin-left: 3.5%;
    padding-top: 1%;
    margin-bottom: 0;
    width: 20%;
}

footer ul li a {
    padding: 12px 10px;
}